@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$montserrat: 'Montserrat', Arial, sans-serif;
$montserrat-bold: 'Montserrat Bold', Arial, sans-serif;

html,
body {
	font-family: $montserrat;
}
