.woocommerce-ordering {
	&__icon {
		position: absolute;
		top: 10px;
		right: 0;
		z-index: 10;
		display: block;
		width: 20px;
		height: 20px;
		pointer-events: none;
		background: url('img/arrow-down.png') no-repeat;
	}

	&__select-box {
		width: 215px;
		padding: 2px 5px 2px 7px;
		font-size: 14px;
		background-color: $primary-color-main;
		appearance: none;
	}

	&__orderby:focus {
		outline: none;
	}
}

.shop-products {
	padding-top: 3px !important;

	.attribute-label-text {
		font-weight: bold;
	}
}

.shop-products__item {
	h3 {
		padding-bottom: 0 !important;
		font-family: $montserrat-bold;
		color: $secondary-color-main;
	}

	img {
		margin-bottom: 0 !important;
		border: 1px solid $secondary-color-main;
	}
}

.shop-products__price {
	font-size: 14px;
	color: $secondary-color-main;

	ins {
		text-decoration: none !important;
	}

	del {
		font-size: 13px;
		color: $gray;
	}
}

.onsale-banner {
	position: absolute;
	top: 9px !important;
	right: 9px !important;
	width: 74px;
	height: 57px;
	background: url('img/sale-chevron.png');
	background-size: 74px 57px;

	&__title,
	&__price {
		margin-bottom: 0;
		color: $primary-color-main;
		text-align: center;
	}

	&__title {
		margin: 4px;
		font-size: 10px;
	}

	&__price {
		font-size: 20px;
		line-height: 17px;
	}
}

.add_to_cart_button {
	width: 80%;
	background-color: $primary-color-main !important;
	border: 1px solid $secondary-color-main !important;
	border-radius: 0 !important;
}

.custom-attributes {
	margin: .5em 0 .5em !important;

	li {
		font-size: 12px;
		color: $secondary-color-main;
	}
}

