.woocommerce-ordering {
	::after {
		content: url('img/arrow-down.png');
	}

	.orderby {
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 7px;
		font-size: 14px;
		appearance: none;
		background-color: $primary-color-main;
	}

	.orderby:focus {
		outline: none;
	}
}
