@import '../base/colors';

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
	background-color: $primary;
	&__container {
		position: relative;
		height: 100%;
		margin-top: -16px;
	}
}

.nav--header {
	width: 100%;
	height: 100%;
	border-bottom: 2px solid $secondary;
	.menu {
		float: right;
		padding-left: 0;
		list-style: none;
		line-height: 140px;
		&__item {
			display: inline;
			padding-right: 10px;
			padding-left: 5px;
			&:not(:last-of-type) {
				border-right: 1px solid $secondary;
			}
		}
	}
}

#container {
	margin-top: 140px;
}