.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 104px;
	background-color: $primary-color-main;

	&__container {
		position: relative;
		height: 120px;
		margin-top: -16px;
	}

	&__logo {
		position: absolute;
		top: 16px;
		left: 15px;
		display: block;
		width: 190px;
		height: 80px;
		background: url('img/logo.png');
		background-size: 190px 80px;

		@media(max-width: 810px) {
			position: relative;
			left: 0;
			margin: 0 auto;
		}
	}
}

body.post-type-archive .header__logo {
	display: none;
}

.container__woocommerce {
	padding-top: 30px;
	margin-top: 91px;
}
