.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 155px;
	background-color: $primary-color-main;

	&__container {
		position: relative;
		height: 120px;
		margin-top: -16px;
	}
}

.nav--header {
	width: 100%;
	height: 100%;
	border-bottom: $border-standard;

	.menu {
		float: right;
		padding-top: 10px;
		padding-left: 0;
		line-height: 110px;
		list-style: none;

		&__item {
			display: inline;
			padding-right: 10px;
			padding-left: 5px;

			&:not(:last-of-type) {
				border-right: 1px solid $secondary-color-main;
			}
		}

		&__item--current {
			text-decoration: underline;
		}

		a,
		a:hover {
			color: $secondary-color-main;
		}
	}
}

.container__woocommerce {
	margin-top: 85px;
}
