.nav--header {
	width: 100%;
	height: 100%;
	border-bottom: $border-standard;

	.menu {
		float: right;
		padding-top: 10px;
		padding-left: 0;
		line-height: 110px;
		list-style: none;

		&__item {
			display: inline;
			padding-right: 10px;
			padding-left: 5px;

			&:not(:last-of-type) {
				border-right: 1px solid $secondary-color-main;
			}
		}

		.current_page_item a {
			text-decoration: underline;
		}

		a,
		a:hover {
			color: $secondary-color-main;
		}

		.wpmenucart-contents:hover {
			text-decoration: none;
		}

		.menu-item-39 {
			border-right: 0;
		}

		.flyout-cart {
			display: none;
		}
	}
}

body.post-type-archive-product.woocommerce,
body.single-product.woocommerce,
body.woocommerce-cart.woocommerce {
	.menu-item-39 {
		border-right: 1px solid black;
	}

	.flyout-cart {
		display: initial;
	}
}
