.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 230px;
	height: 100%;
	background-color: $primary-color-main;
	overflow-y: scroll;
	overflow-x: hidden;

	&__container {
		margin-left: 0;
	}
}

.sidebar-top {
	position: fixed;
	top: 0;
	left: 15px;
	z-index: 999;
	width: 200px;
	height: 104px;
	background: $primary-color-main;
	border-bottom: $border-standard;

	&__logo {
		display: block;
		width: 190px;
		height: 80px;
		margin: 0 auto;
		background: url('img/logo.png');
		background-size: 190px 80px;
	}
}

.filter-container {
	padding-top: 100px;
}

.berocket_aapf_widget_update_button {
	float: right;
	font-size: 14px;
	background: none;
	border: 1px solid $secondary-color-main;

	&:focus {
		outline: none;
	}
}

.filter-results-heading {
	float: left;
	margin-top: 116px;
	margin-bottom: 0;
	font-size: 16px;
}

.berocket_aapf_widget-wrapper {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	padding-top: 15px;
	margin-top: 10px;
	border-top: 2px solid $secondary-color-main;
}

.berocket_aapf_widget {
	padding-left: 0;
	margin-top: 15px;

	li {
		margin-bottom: 7px;
	}
}

.produced-by.berocket_aapf_widget,
.colour.berocket_aapf_widget,
.materials.berocket_aapf_widget,
.price-range.berocket_aapf_widget,
.designed-by.berocket_aapf_widget {
	width: 100%;
	padding-top: 15px;
	border-top: 1px $secondary-color-main dashed;
}

.berocket_label_widgets {
	font-size: 14px;

	&:before {
		margin-bottom: -1px;
	}
}

.ui-slider-handle:focus {
	outline: none;
}

.berocket_aapf_widget li.slider span.left input,
.berocket_aapf_widget li.slider span.right input {
	width: 80%;
	border: 0;
}

.berocket_aapf_widget li.slider span.left input {
	padding-left: 0;
	text-align: left;
}

.berocket_aapf_widget li.slider span.right input {
	padding-right: 2px;
	text-align: right;
}
