@import '../base/variables';

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 230px;
	height: 100%;
	background-color: $primary-color-main;

	&__container {
		margin-left: 0;
	}
}

.sidebar-top {
	height: 104px;
	border-bottom: $border-standard;

	&__logo {
		display: block;
		width: 190px;
		height: 80px;
		margin: 0 auto;
		background: url('img/logo.png');
		background-size: 190px 80px;
	}
}
